# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# MongoDB Configuration
MONGODB_URI=
MONGODB_DB_NAME=

# Google Gemini API
GEMINI_API_KEY=
gemini_apikey=
GEMINI_APIKEY=